/*Need recursive*/

@font-face {
    font-family: 'VT323';
    src: url('/fonts/VT323-Regular.ttf') format('truetype'); /* Remplacez 'truetype' par 'opentype' si nécessaire */

}

@font-face {
    font-family: 'new-glitch';
    src: url('/fonts/new-glitch-demo.regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Beauty Glitch Demo';
    src: url('/fonts/Beauty\ Glitch\ Demo.ttf') format('truetype');
}

html{
	height: 100%;
	width: 100%;
	font-family: 'VT323', Courier, sans-serif;
}

body{
	background-color: blue;
	max-height: 100%;
	max-width: 100%;
	border: 0.1em solid black;
}

#welcome{
	display: flex;
	flex-direction: column;
	height: 33%;
	width: 100%;
	background-color: lightgrey;
	border-bottom	: 0.1em solid black;
}

#barre {
	height: 15%;
	background-color: #f0f0f0; /* Couleur de fond de la barre */
	padding-left: 1em; /* Espacement intérieur de la barre en pourcentage */
	display: flex; /* Utilisation de flexbox pour aligner les éléments */
	align-items: center; /* Alignement vertical des éléments au centre */
	border-bottom: 0.1em solid black;
}
  
#title{
	padding-left: 0.5em;
}


  .trois-points {
	display: flex; /* Utilisation de flexbox pour aligner les points horizontalement */
  }
  
  .trois-points span {
	display: block; /* Faire en sorte que les spans se comportent comme des blocs */
	width: 0.7em; /* Largeur d'un point en em */
	height: 0.7em; /* Hauteur d'un point en em */
	background-color: red; /* Couleur des points */
	border-radius: 50%; /* Pour donner une forme de cercle aux points */
	margin-right: 0.4em; /* Espacement entre les points en em */
  }

  .trois-points span:nth-child(2) {
	background-color: yellow;
  }
  
  .trois-points span:nth-child(3) {
	background-color: green;
  }
  
  .icones {
	margin-left: auto; /* Marge automatique pour aligner les icônes à droite */
  }
  
  .icones img {
	width: 2em; /* Largeur des icones en em */
	height: 2em; /* Hauteur des icones en em */
	margin-left: 0.6em; /* Espacement entre les icones en em */
  }

  #welcome_content {
    align-items: center;
    display: flex;   
    flex: 1;
    overflow: hidden; /* Empêche l'affichage d'une barre de défilement */
    max-width: 100%; /* Largeur maximale de la div */
    background-color: lightgray;
    min-height: 33%;
    padding: 1em; /* Ajout de padding pour l'espace intérieur */
}

#welcome_text {
    width: 30%;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
    margin: 1em;
}

#welcome_contact {
    position: relative;
    left: -2%;
    width: 33%;
    list-style: none;
    font-size: 0.8em;
    max-width: 100%; /* Limite la largeur maximale de la liste à 100% */
    padding: 0; /* Supprime le padding par défaut */
}

.linkedin a {
    color: blue;
}

.github a {
    color: green;
}

.welcome_asset {
    margin-left: auto;
    width: 33%;
    margin: 1em;
}

.welcome_asset img {
    background-color: red;
    height: 80%;
    max-height: 80%;
    border-radius: 25%;
    margin-left: 0;
}


#project {
    display: flex;
    justify-content: center;
    align-items: center;
	background-color: white;
	border-bottom: 0.1em solid black;
}

.project-link {
    text-decoration: none;
    color: black;
}

.projet {
    max-width: 100%;
    background-color: lightgray;
    margin: 2em;
    padding: 1em;
    border: 0.1em solid black;
    box-shadow: 8px 8px 0 -3px;
}

.projet img {
    max-width: 100%; /* Assurez-vous que l'image reste dans la div */
    height: auto;
}

a{
	text-decoration: none;
	color: black;
}

#about {
    display: flex;
    max-height: 40%;
    max-width: 100%;
    border: 0.1em solid black;
    background-color: lightgray;

}

#left {
    width: 50%;
    padding: 20px;
    overflow: hidden;
}

#right {
    width: 50%;
    padding: 20px;
}

#About_me {
    margin-top: 0;
}

.links {
    margin-top: 20px;
}

.links a {
    display: inline-block;
    margin-right: 20px;
}

#langages {
    background-color: white;
    border: 0.1em solid black;
    box-shadow: 8px 8px 0 -3px;
    max-width: 100%;
    max-height: 100%;
    text-align: center; /* Centrer le texte horizontalement */
}

#barre-lang {
	margin: 0.05em;
    display: flex;
    align-items: center;
    background-color: white;
	border-bottom: 0.1em solid black;
}

.trois-points-lang {
    display: flex; /* Utilisation de flexbox pour aligner les points horizontalement */
	margin-left: 0.5em;
}

.trois-points-lang span {
    display: block; /* Faire en sorte que les spans se comportent comme des blocs */
    width: 0.7em; /* Largeur d'un point en em */
    height: 0.7em; /* Hauteur d'un point en em */
    background-color: red; /* Couleur des points */
    border-radius: 50%; /* Pour donner une forme de cercle aux points */
    margin-right: 0.4em; /* Espacement entre les points en em */
}

.trois-points-lang span:nth-child(2) {
    background-color: yellow;
}

.trois-points-lang span:nth-child(3) {
    background-color: green;
}

#title {
    margin-left: 10px; /* Ajout d'une marge à gauche pour séparer les points du titre */
}

.logos {
    display: flex;
    flex-wrap: wrap; /* Permettre le passage à la ligne des logos */
    justify-content: center; /* Centrer les éléments horizontalement */
}

.logos img {
    max-width: calc(10% - 20px); /* Largeur maximale des images */
    height: auto;
    margin: 10px; /* Espacement entre les logos */
}

#cv{
	border: 0.1em solid black;
	max-width: 25%;
	max-height: 25%;
}

#github{
	border: 0.1em solid black;
}